<div class="container">
    <h2>Cats</h2>

    <div *ngIf="error" class="alert alert-danger" role="alert">
        <p>Error</p>
    </div>

    <form [formGroup]="catForm" (submit)="addCat()">
        <fieldset>
            <div class="form-group">
                <label>Name</label>
                <input type="text"
                       formControlName="name"
                       class="form-control">
            </div>
        </fieldset>

        <button type="submit"
                [ngClass]="{'disabled': catForm.invalid}"
                class="btn btn-primary btn-block">
            <span>Add</span>
        </button>
    </form>
</div>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let c of cats">
            <p>{{c.name}}</p>
        </li>

        <div *ngIf="!cats || 0 === cats.length" class="alert alert-warning" role="alert">
            <p>No results</p>
        </div>
    </ul>
</div>
